
<div class="box" id="DIV_1">
    <div id="DIV_4"  style="background: #<%=quote.color%>">
        <p id="P_5">"<%= quote.text %>"</p>
        <p id="P_6"> — via <a href="<%= quote_path(quote) %>" id="A_7">unknown</a></p>
        <div id="DIV_9">	<a><i class="fa fa-heart"></i></a>  </div>
    </div>
</div>