<% content_for :javascript_includes do %>
  <%= javascript_include_tag "masonry.js" %>
<% end %>

<% content_for :css do  %>

<% end %>

<%- model_class = Quote -%>


<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
    <% @quotes.each do |quote| %>
        <%= render quote %>
    <% end %>
</div>
