#masonry-container {
  width: auto;
  margin: 0 auto; 
}

#DIV_1 {
    padding: 5px;
    border: 0px none ;
}/*#DIV_1*/


#DIV_4 {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none solid rgba(255, 255, 255, 0.6);
    width: 200px;
    background: rgb(41, 128, 185) none repeat scroll 0% 0% / auto padding-box border-box;
    font: italic normal normal 12px/14.949999809265137px Corbel, 'Lucida Grande', 'Lucida Sans', Verdana, sans-serif;
    padding: 12px 15px 10px;
}/*#DIV_4*/

#P_5 {
    margin: 0px 0px 17.25px;
}/*#P_5*/

#P_6 {
    height: 14px;
    margin: 0px;
}/*#P_6*/

#A_7 {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    margin: 0px 0px -1px;
}/*#A_7*/


#DIV_9 {
    bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    height: 19px;
    position: absolute;
    right: 10px;
    text-decoration: none solid rgba(255, 255, 255, 0.6);
    width: 20px;
    border: 0px none rgba(255, 255, 255, 0.6);
    font: italic normal normal 12px/14.949999809265137px Corbel, 'Lucida Grande', 'Lucida Sans', Verdana, sans-serif;
    outline: rgba(255, 255, 255, 0.6) none 0px;
}/*#DIV_9*/



